<div class="background">
  <header class="container">
    <div class="Header__links">
      <!-- <ul class="Header__links__list">
        <li class="Header__links__list__item">
          <a href="">Personagens</a>
        </li>
        <li class="Header__links__list__item">
          <a href="">Personagens</a>
        </li>
      </ul> -->
    </div>
    <div class="Header__Tittle">
      <a href="">
        <h1>Rnp Quizz</h1>
      </a>
    </div>
    <div class="Header__links">
      <!-- <ul class="Header__links__list">
        <li class="Header__links__list__item">
          <a href="">Personagens</a>
        </li>
        <li class="Header__links__list__item">
          <a href="">Personagens</a>
        </li>
      </ul> -->
    </div>
  </header>
</div>
