.card {
  z-index: 0;
  position: relative;
  width: 320px;
  min-height: 213px;
  cursor: pointer;
}

.card__image img {
  z-index: 0;
  width: 100%;
  height: 213px;
  border-radius: 12px;
}


.card__text p {
  position: absolute;
  z-index: 2;
  color: #f1f1f1;
  font-size: 22px;
  bottom: 16px;
  left: 12px;
}

.card:hover {
  transform: scale(1.05);
  transition: .2s;
}

.card:hover .card__image img{
  filter: brightness(0.3);
}
